{% extends "index.html" %}
{%block content%}
<div class ="container" >
    <div class ="row"  style ="justify-content: center;">
        <div class ="col-10 py-5" >
         <form aciton="{% url 'file_upload'%}" method="POST" enctype="multipart/form-data">
            <div class="mb-2">
                {% csrf_token %}
                <label for="formFile" class="form-label">Выберите видео для обработки</label>
                <input class="form-control mb-3" type="file" accept=".avi,.mp4,.mkv" id="myfile" name ="myfile">
                <div class=" text-center">
                    <button class ="btn btn-outline-primary " type="submit">Загрузить</button>
                </div>
              </div>
        </form>
        </div>
    </div>
    <div class ="row"  style ="justify-content: center;">
        <div class ="col-10">
            <p>Ссылка: <a href="{{ file_url }}">{{ file_url }}</a></p>
        </div>
    </div>
</div>
{%endblock content%}